<md-dialog>
    <form name="DepartmentForm" ng-submit="updateDepartment(CustomerForm.$invalid,$event,Department)" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color:white !important">Update Department</h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="ShowHideAccountant" ng-click="hide()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:400px">
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Department Name</label>
                    <input name="DepartmentName" type="text" ng-model="Department.DepartmentName" required />
                    <div ng-messages="DepartmentForm.DepartmentName.$error">
                        <div ng-message="required">Department Name is Required</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Cancel
            </md-button>
            <md-button type="submit" style="margin-right:20px;" md-autofocus>
                Update Department
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>