<md-dialog>
    <form name="ChangePasswordForm" ng-submit="ChangePassword(ChangePasswordForm.$invalid,account)" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color:white !important">Change Password</h2>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:700px">
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <input type="password" name="oldPassWord" aria-label="password" ng-model="account.OldPassword" required>
                    <label>Old Password</label>
                    <div ng-messages="ChangePasswordForm.oldPassWord.$error">
                        <div ng-message="required">Password is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <input type="password" name="newPassWord" aria-label="password" ng-model="account.NewPassword" required>
                    <label>New Password</label>
                    <div ng-messages="ChangePasswordForm.newPassWord.$error">
                        <div ng-message="required">New Password is required</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <input type="password" name="confirmPassWord" aria-label="password" match-password="newPassWord"  ng-model="account.ConfirmPassword" required>
                    <label>Confirm Password</label>
                    <div ng-messages="ChangePasswordForm.confirmPassWord.$error">
                        <div ng-message="required">Confirm Password is required</div>
                        <div ng-message="passwordMatch">Password is not match</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="hide()">Cancel</md-button>
            <span flex></span>
            <div layout="row">
                <md-button ng-disabled="!button" type="submit" style="margin-right:20px;" md-autofocus>
                    {{chnagebuttonText}}
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>