<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Access Role</h3>
    </div>
</div>

<div class="row">
    <div class="col-xlg-12">
        <div class="card">
            <div class="card-block">

                <div class="table-responsive">
                    <table class="table" id="myLeave">
                        <thead>
                            <tr>
                                <th><b>#</b></th>
                                <th><b>Access Role Name</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="accessRole in AccessRoleList|filter:{status:leave.status}:strict|itemsPerPage:12">
                                <td>{{$index+1}}</td>
                                <td>{{accessRole.Name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div style="margin-left:20px;">
                        <dir-pagination-controls max-size="10"
                                                 template-url="dirPagination.tpl.html"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>