<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Transaction List</h3>
    </div>
</div>

<div class="row">
    <div class="col-xlg-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-3">
                        <md-button class="md-raised button-success" ng-click="addTransaction($event)"><i class="fa fa-share-square-o"></i> Add Transaction</md-button>
                    </div>
                </div>
                <br />

                <div class="table-responsive">
                    <table class="table" id="myLeave">
                        <thead>
                            <tr>
                                <th><b>#</b></th>
                                <th><b>Account No</b></th>
                                <th><b>Transaction Type</b></th>
                                <th><b>Balance</b></th>
                                <th><b>Tarnsaction Time</b></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="transaction in TransactionList|filter:{status:leave.status}:strict|itemsPerPage:8">
                                <td>{{$index}}</td>
                                <td>{{transaction.AccountNo}}</td>
                                <td>{{transaction.TransactionType}}</td>
                                <td>{{transaction.Balance}}</td>
                                <td>{{transaction.TransactionTime|dateTime}}</td>
                                <td>
                                    <div layout="row" layout-align="start center">
                                        <md-button class="md-raised md-icon-button md-mini md-primary md-hue-1" ng-click="viewTransaction($event,transaction)" aria-label="More">
                                            <md-tooltip md-direction="left">View Details</md-tooltip>
                                            <i class="fa fa-eye"></i>
                                        </md-button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div style="margin-left:20px;">
                        <dir-pagination-controls max-size="10"
                                                 template-url="dirPagination.tpl.html"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>